<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel='icon' href="img/weather.png" >
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>This app helps you to forecast the 7 days weather in every city</h2>
        </div>
    {{>footer}}
    </body>
</html>